/*
Theme Name: Flatsome Child
Description: This is a child theme for Flatsome Theme
Author: UX Themes
Template: flatsome
Version: 3.0
*/

/*************** ADD CUSTOM CSS HERE.   ***************/


@media only screen and (max-width: 48em) {
/*************** ADD MOBILE ONLY CSS HERE  ***************/


}
#logo {
    width: 263px !important;
    height: 77px !important;
}
.header-main {
    height: 75px !important;
}
form.searchform {
    margin-right: 10px !important;
}
.grid-col .box:not(.box-shade):not(.box-overlay):not(.box-badge) .box-text{
	background: rgba(0,0,0,0.8) !important;
    color: #fff !important;
    font-weight: 900;
    font-size: 13px;
    white-space: nowrap;
}
h5.uppercase.header-title {
    color: white;
}
.box-label .box-text {
    margin-bottom: 48px !important;
}
.dbh-home-intro-text {
    padding: 10px 0 0;
    font-style: italic;
    font-weight: 300;
    font-size: 20px !important;
    text-align: center;
    margin-bottom: 12px;
}	
.row-bg-grey {
    background: #eee;
    height: 198px;
    overflow: hidden;
    margin-top: 0px !important;
   
}
.row-bg-grey .col-inner.text-center {
	 margin: 0px auto;
}
.row-bg-grey img.attachment-large.size-large {
    width: 143px;
}
.row-bg-grey a.button {
    display: block;
    width: 100%;
}

.white-title > a {
    color: white !important;
}
.box-text.text-right {
    background: black;
}
.nav-dropdown li.image-column>a img {
    margin: 0;
    display: block;
    width: 100%;
    margin-top: 55px;
    object-fit: cover;
}
.nav-dropdown>li.nav-dropdown-col, .nav-dropdown>li.image-column {
	overflow:hidden;
}
.container.section-title-container {
    margin-bottom: 7px;
}
.col.post-item.has-post-icon {
    padding-bottom: 8px !important;
}
.header-nav > .has-dropdown {
	position:static !important;
}
.nav-dropdown-has-arrow li.has-dropdown:before, .nav-dropdown-has-arrow li.has-dropdown:after{
	display:none;
}
.padding-bottom-md-20 {
    padding-bottom: 20px !important;
}
.text-align-md-center {
    text-align: center;
}
h3.dbh-home-intro-heading.f3.padding-bottom-md-20.text-align-md-center {
    margin-bottom: 0px;
}
@media all and (min-width: 1300px){
	.f3 {
		font-size: 36px !important;
	}
}
.tawcvs-swatches .swatch {
	opacity: 1 !important;
}
#logo img {
    max-height: 87px;
    width: 213px;
    margin-top: 6px !important;
}
.post-type-archive-product .row.category-page-row  > .large-columns-3 {
	display:none;
}